<ul>
  <li>
    <a href="/lsystem">L-system</a>
    <ul>
      <li><a href="/lsystem?definitions=A+%3D+fwd%282%29%0D%0AB+%3D+fwd%282%29%0D%0A%2B+%3D+left%2860%29%0D%0A-+%3D+right%2860%29&rules=A+-%3E+B-A-B%0D%0AB+-%3E+A%2BB%2BA&startstate=A&iterations=6">Sierpinski</a></li>
    </ul>
  </li>
</ul>
