<!doctype html>
<html lang="en">
  <head>
    <title>Fractals</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container">
      {{ yield }}
    </div>

    <footer class="container" style="text-align: center">
      <hr>
      <p><a href="https://github.com/holizz/fractals">https://github.com/holizz/fractals</a></p>
    </footer>
  </body>
</html>
