<form>
  <label>
    Definitions
    <textarea name="definitions">{{.definitions}}</textarea>
  </label>

  <label>
    Rules
    <textarea name="rules">{{.rules}}</textarea>
  </label>

  <label>
    Start state
    <input type="text" name="startstate" value="{{.startstate}}">
  </label>

  <label>
    Iterations
    <input type="number" name="iterations" value="{{.iterations}}">
  </label>

  <input type="submit">
</form>

<img src="/lsystem.png?definitions={{.definitions}}&rules={{.rules}}&iterations={{.iterations}}&startstate={{.startstate}}">
